<section class="mt-5">
  <div class="overflow-x-auto">
  <table class="table table-md mt-2 w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Poblation</th>
        <th>Details</th>
      </tr>
    </thead>

    <!-- body -->
    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
        <tr>
          <td>{{ index + 1 }}</td>
          <td>{{ country.flag }}</td>
          <td>
            <img class="w-10" [src]="country.flagSvg" [alt]="country.name" />
          </td>
          <td>{{ country.spanishName }}</td>
          <td>{{ country.capital }}</td>
          <td>
            <span class="badge badge-secondary">{{ country.population | number}}</span>
          </td>
          <td>
            <a [routerLink]="['/country/by', country.cca2]" class="link-primary">More information</a>
          </td>
        </tr>
      }
    </tbody>

    @if (errorMessage()) {
      <tr>
        <td colspan="8" class="text-center">
          {{ errorMessage() }}
        </td>
      </tr>
    }

    @if (countries().length === 0 && !isLoading()) {
      <tr>
        <td colspan="8" class="text-center">
          No results founded.
        </td>
      </tr>
    }

    @if (isLoading()) {
      <tr>
        <td colspan="8" class="text-center">
          <!-- <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div> -->
          Searching...
        </td>
      </tr>
    }

    <!-- foot -->
    <tfoot>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th>Details</th>
      </tr>
    </tfoot>
  </table>
</div>
</section>
